<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="main-container">
    <form class="password-form">
      <h3 class="heading">Change Password</h3>
      <div class="input-group-container">
        <div class="input-group">
          <input type="password" id="password" required>
          <label for="password">new password</label>
          <div class="err-element"></div>
          <img src="" alt="visible" id="eye-icon">
        </div>
        <div class="input-group">
          <input type="password" id="c-password" required>
          <label for="c-password">confirm password</label>
          <div class="err-element"></div>
          <img src="" alt="visible" id="eye-icon">
        </div>
        <div class="handle-otp">
          <div class="otp-input-container d-none">
            <input type="text" name="" id="input0" class="otp-input" maxlength="1">
            <input type="text" name="" id="input1" class="otp-input" maxlength="1">
            <input type="text" name="" id="input2" class="otp-input" maxlength="1">
            <input type="text" name="" id="input3" class="otp-input" maxlength="1">
          </div>
          <button class="btn otp" type="button" >Send OTP</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>