<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
</head>
<body>
    <div class="main-container">
      <div class="container">
        <form class="form" id="signinForm" autocomplete="off">
            <h1>Sign In</h1>
            <div class="input-group-container">
              <div class="input-group">
                <input type="text" id="email" required>
                <label for="email">Email</label>
                <div class="err-element"></div>
              </div>
              <div class="input-group">
                <input type="password" id="password" required maxlength="22">
                <label for="password">Password</label>
                <div class="err-element"></div>
                <img src="" alt="" id="eye-icon">
              </div>
              <div class="handle-password-group">
                <input type="checkbox" id="remember-me"> <label for="remember-me">RememberMe</label>
                <a href="/forget-password" class="forget-password">?ForgetPassword</a>
              </div>
            </div>
            <button type="submit" class="btn" id="submit-btn">Sign In</button>
            <Link class="btn" id="google-sign-in" to="/google">
              <img src="" alt="google" id="google-icon"> 
              Google
            <Link>
            <div class="message">Don't have an Account <a href="/signup">Signup</a></div>
        </form>
    </div>
    </div>
</body>
</html>
