<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class="main-container">
      <div class="container">
        <form>
            <div class="heading-container">
                <h1>SignUp</h1>
                <img id="user-image" alt="image">
                <input type="file" id="file-input" name="avatar" hidden>
                <img src="../assets/images/camera.png" alt="err" class="camera-icon">
            </div>
            <div class="input-group-container">
                <div class="input-group">
                  <input type="text" id="name" required>
                  <label for="name">Name</label>
                  <div class="err-element"></div>
                </div>
                <div class="input-group">
                  <input type="text" id="email" required>
                  <label for="email">Email</label>
                  <div class="err-element"></div>
                </div>
                <div class="input-group">
                  <input type="password" id="password" maxlength="22" required>
                  <label for="password">Password</label>
                  <div class="err-element"></div>
                  <img src="../assets/images/view.png" alt="err" id="eye-icon">
                </div>
            </div>
        </form>
        <button type="button" class="btn" id="submit-btn">Sign Up</button>
        <a class="btn" id="google-sign-in" href="/google">
          <img src="../assets/images/google-icon.png" alt="google" id="google-icon"> 
          Google
        </a>
        <div class="message">Already have an Account <a href="/signin">Signin</a></div>
    </div>
    </div>
</body>
</html>
